{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}{{ 'view.admin.dashboard'|trans }}{% endblock %}
{% block content_title %}{{ 'view.admin.dashboard'|trans }}{% endblock %}

{% block main %}
    <div class="row my-2">
        <div class="col-12 text-center">
            <h2 class="my-4">{{ 'dashboard.disk_space_used_title'|trans }}</h2>
            <h3 class="my-2">
                {{ 'dashboard.disk_space_used'|trans({
                    diskUsedSpace: diskUsedSpace.size,
                    diskUsedSpaceUnit: 'disk_unit'|trans({ unit: diskUsedSpace.unit }),
                    diskTotalSpace: diskTotalSpace.size,
                    diskTotalSpaceUnit: 'disk_unit'|trans({ unit: diskTotalSpace.unit }),
                    diskFreeSpace: diskFreeSpace.size,
                    diskFreeSpaceUnit: 'disk_unit'|trans({ unit: diskFreeSpace.unit })
                }) }}
            </h3>
            {% set diskUsedPercentageColor = diskUsedPercentage < 80 ? 'success' : diskUsedPercentage < 90 ? 'warning' : 'danger' %}
            <div class="row justify-content-center align-items-center">
                <div class="col-12 col-md-10 col-lg-8 mb-2">
                    <div class="progress" style="height: 20px;">
                        <div
                            class="progress-bar bg-{{ diskUsedPercentageColor }}"
                            role="progressbar"
                            style="width: {{ diskUsedPercentage }}%"
                            aria-valuenow="{{ diskUsedPercentage }}"
                            aria-valuemin="0"
                            aria-valuemax="100"
                            data-bs-toggle="tooltip"
                            data-bs-placement="top"
                            title="{{ 'dashboard.disk_space_used_percentage'|trans({
                                diskMediaFolderUsedSpace: diskMediaFolderUsedSpace.size,
                                diskMediaFolderUsedSpaceUnit: 'disk_unit'|trans({ unit: diskMediaFolderUsedSpace.unit }),
                                diskMediaFolderUsedPercentage: diskMediaFolderUsedPercentage|number_format(2, ',')
                            }) }}"
                        >
                            {{ (diskUsedPercentage|number_format(2, ',')) ~ '%' }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12 my-4">
                    <h3 class="my-2">{{ 'dashboard.chart.active_events_count'|trans }}</h3>
                    <div class="d-flex w-100 align-item-center justify-content-center">
                        {{ render_chart(activeEventsChart, { 'class': 'pie-chart-max-dimensions' }) }}
                    </div>
                </div>
                <div class="col-md-6 col-12 my-4">
                    <h3 class="my-2">{{ 'dashboard.chart.categories_by_event_count'|trans }}</h3>
                    {{ render_chart(categoriesCountChart) }}
                </div>
                <div class="col-12 my-4">
                    <h3 class="my-2">{{ 'dashboard.chart.recent_events_count'|trans }}</h3>
                    {{ render_chart(recentEventsCountChart, { 'data-controller': 'chart_recent_events' }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
