{% extends 'base.html.twig' %}

{% block bodyClass %}with-bg{% endblock %}

{% block body %}
  <div class="limited-container flex flex--vertical-around">
    <div class="login-block">
      <h1>{{ 'view.login.title'|trans({ 'app_name': appName }) }}</h1>

      <form action="{{ path('login') }}" method="post">
        <div class="form-field">
          <label class="sr-only" for="uuid">{{ 'user.uuid'|trans }}</label>
          <input placeholder="{{ 'user.uuid'|trans }}" type="text" id="uuid" name="uuid" value="{{ last_uuid }}"/>
        </div>

        <div class="form-field">
          <label class="sr-only" for="password">{{ 'user.password'|trans }}</label>
          <input placeholder="{{ 'user.password'|trans }}" type="password" id="password" name="password"/>
        </div>

        <div class="form-field">
          <button class="btn" type="submit">{{ 'login'|trans }}</button>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      </form>

      {% block flashMessages %}{{ parent() }}{% endblock %}
    </div>
  </div>
{% endblock %}
